.body {
    margin-top: 1em;
    padding: 1em;
    display: block;
    margin: 0 1em;
}


.detailContainer {
    background-color:#efefef;
    display: flex;
    justify-content: center;
    padding-bottom: 600px;
}

img {
    margin-top: .5em;
    margin-bottom: 1.5em;
    width: 70%;
}

.details {
    width: 45%;
    margin: 1em;
    padding: 1em;
}

.title {
    text-align: center;
}

.bold{
    font-weight: bold;
}

.section{
    margin: .5em;
}

.today {
    display: inline;
    padding: 0;
    float: right;
}

.inline {
    display: inline;
}
