
.inputContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: .5em;
}

.formDiv {
    padding-top: 2em;
}

.inner-drop {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;

}