.taskBkg {
    background-color: #efefef;
    height: 1300px;
    margin-top: 0px;
    padding-top: 1em;
    padding-left: 2em;
}

.right {
    float: right;
}

.taskCard{
    width: 20%;
    margin: .25em;
}

.taskContainer {
    display: flex;
    flex-flow: row wrap;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: .5em;
}


.label {
    padding: .5em;
}

.cardContent {
    padding-bottom: 2em;
    padding-top: .5em;
    padding-left: .5em;
}