.taskBkg {
    background-color: #efefef;
    height: 800px;
    margin-top: 0px;
    padding-top: 1em;
}

.right {
    float: right;
}

.taskCard{
    width: 20%;
    margin: .25em;
}

.taskContainer {
    display: flex;
    flex-flow: row wrap;
}

.overdue {
    background-color: 	 #ff4d4d;
}