
.item {
    width: 25%;
    margin: 1em;
    padding: 1em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    
}

/* html {
    background-color: #efefef;
} */

#dashboard{
    background-color: #efefef;
    margin-top: 0;
    padding-bottom: 60px;
}


.dashboard h2 {
    margin-top: 0;
    padding-top: 1em;
    background-color: #efefef;
    margin-bottom: 0;
    font-family: Raleway, sans-serif;
}

.plant_image {
    margin-top: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-div {
   text-align: center;
   margin: .5em;
}

.iconBtn {
    float: right;
}
 .title {
     font-family: sans-serif;
 }
