.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.nav {
  margin: 0;
  background-color: #689B21;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:#689B21;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #547E1A;
}

.drawer-link:hover {
  background-color: #efefef;
}

/* .nav-right {
  float: right;
  display: inline-block;
}

.nav-left {
  float: left;
  display: inline-block;
} */

.drawer-link {
  color:#689B21;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}